* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1400px;
    }
  }
  
  li {
    list-style: none;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  img {
    vertical-align: middle;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
  }

  /* common css starts */
  .section_tittle{
        line-height: 24px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #333;
        font-family: 'Lato', sans-serif;
  }

  .content{
    color: #343434;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 300;

  }

  .product{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width:80%;
    height:420px;
    background:#FFF;
    margin:40px auto;
   }

    .hover-item{

      /* position: absolute;
      left: 50%;
      bottom: -30px;
      width: 62%; */
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s ease 0s;
      -o-transition: all .3s ease 0s;
      transition: all .3s ease 0s;
      z-index: 9;
  

  }

  .product:hover .hover-item{
    visibility: visible;
    z-index: 999;
    opacity: 1;
  }

  .style-18{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  span{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
  }

  .title-bold{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  .nav-style{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  


  /* common csss ends */


  /* dropdown css starts */

  .dropdown:hover .dropdown-menu{
    display: block;
  }


  /* dropdown css ends */

  /* trending css stars */

  #trending_main .trending-items .item{
    border: 1px solid #f8f8f8;
    width:80%;
    height:200px;
    background:#FFF;
    margin:40px auto;
  }




  /* trending css ends */

  /* shop_now css starts */

  .shop_now{
    width: 100%;
  }

  #shop_now_main .shop_now .sub_banner-1{
    height: 500px;
    width: 100%;
    background-image: url(../img/content/sub-banner-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #shop_now_main .shop_now .sub_banner-2{
    height: 500px;
    width: 100%;
    background-image: url(../img/content/sub-banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }


  /* shop_now css ends */


  /* latest products css starts */

  

  

  /* footer .style-18{
    font-size: 14px;
  }

  footer .title-bold{
    font-size: 14px;
  } */
   



  /* latest products css ends */


  /* hurry_up css starts */

  #hurry_up_main{
    margin-top: 40px;
    background-image: url(../img/content/main-banner-01.jpg);
    width: 100%;
    background-size: cover;

  }

  #hurry_up_main .hurry_up .details{
    padding: 200px 0px;
  }



  /* hurry_up css ends */


  /* accordian css starts */

  #accordian_main{
    margin-top: 50px;
    margin-bottom: 100px;
  }




  /* accordian css ends  */


  /* services css starts */

  #services_main{
    background: #F8F8F8;
  }


  /* services css ends */

  /* footer css starts */

  footer li:hover a{
    color: goldenrod!important;
  }


  /* footer css ends */
